.input {
    margin: 15px 0;
    border: 1px solid teal;
    border-radius: 7px;
    padding: 0 8px;
    width: 100%;
    height: 40px;
    font-size: 1.2rem;
    color: teal;
}

.label {
    font-weight: 700;
    font-size: 1.25rem;
    color: teal;
}